*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: hsl(0, 0%, 95%);
	font-size: 15px;
}

main{
	width: 50%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.container{
	display: flex;
	width: 100%;
}

img{
	padding-bottom: 20px;
}

h1{	
	color: hsl(0, 0%, 95%);
	padding-bottom: 20px;
	/*font-family: 'Big Shoulders Display', cursive;
	font-weight: 700;
	font-size: bolder;*/
	
}

p{
	color: hsla(0, 0%, 100%, 0.75);
	padding-bottom: 20px;
	font-family:  'Lexend Deca', sans-serif;
	/*font-weight: 400;*/
}

.sedan{
	background-color: hsl(31, 77%, 52%);
	padding: 2em;
	width: 50%;
}

.suv{
	background-color: hsl(184, 100%, 22%);
	padding: 2em;
	width: 50%;
}

.luxury{
	background-color: hsl(179, 100%, 13%) ;
	padding: 2em;
	width: 50%;
}

button{
	padding: 12px;
	border-radius: 20px;
	border: none;
}

button a {
	text-decoration: none;
	color: inherit;
}

 .sedan-btn{
	color:  hsl(31, 77%, 52%);
}

.suv-btn{
	color: hsl(184, 100%, 22%);
}

 .luxury-btn{
	color: hsl(179, 100%, 13%);
}

.sedan-btn:hover {
	background-color: hsl(31, 77%, 52%);
	color: white;
	border: 2px solid white;
}

.suv-btn:hover{
	background-color: hsl(184, 100%, 22%);
	color: white;
	border: 2px solid white;
}

.luxury-btn:hover{
	background-color: hsl(179, 100%, 13%);
	color: white;
	border: 2px solid white;
}


@media screen and (min-width: 375px) {
    body {
        width: 100%;
       
    }
}